    body, html{
        height:100%;
        margin: 0;
    }

    .page{
        display:flex;
        height: 100%;
    }
    .mainContent{

    background: #f1f1f1;
    flex:1;
    order:2;
    }

    .sidebar1{
        width:250px;
        order:1;
        background: #2c3e50;
    }

     .active{
         background:#4f678e;
         color:white;
     }


  .menu{
      position: relative;
        cursor: pointer;
        list-style-type: none;
        color:#8e99a2;
        margin: 0px;
        padding-left: 45px;
        padding-top: 8px;
        height: 33px;
    }
        .menu:hover{
        transition: background 0.5s;
        color:white;
        background:#4f678e;
    }

  .submenu{
        position: relative;
        list-style-type: none;
        text-decoration: none;
        margin: 0px;
        padding-left: 45px;
        height: 33px;
        background: #2f3949;
        color:white;
        cursor:pointer;
    }



    .submenu i{
        margin-left: 20px;
    }


  .fa{
      color: #8e99a2;
      position: absolute;
      margin-left: -35px;
  }  
    
