body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

nav {
	background: white;
	border-bottom: 1px solid #b3b3b3;
	height: 8%;
	background: pink;
}


h1 {
	font-weight: normal;
	text-align: center;
}

footer{
	background: white;
	border-top: 1px solid #b3b3b3;
	height: 8%;
	background: pink;
	width: 100%;

}

#container{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: auto;
	height: 100%;
	display: table;
}

.leftMenu{
	width: 15%;
	background:#6799A3;
	height: 10px;
	display: table-cell;
}

.content{
	display: table-cell;
	width: 70%;
	height: 100%;
	background: #f8f9fb;
	box-sizing: border-box;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3; 
	height: auto;
}

.contentBox{
	padding: 10px;
	font-size: 15px;
	width: 90%;
	margin: 2% auto;
	background: white;
	height: auto;
	border:1px solid #c3c3c3;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
}

.rightMenu{
	width: 15%;
	background: white;
	height: 10px;
	display: table-cell;
}


/*
============================================= PROFILE =============================================
*/
.fa{
	float: right;
    margin-right: 10px;
    cursor: pointer;
}

.profilecolumn{
	width: 100%;
	height: auto;
}

.profilecolumn h1{
	font-weight: normal;
	padding-top: 10px;
	color: white;
	text-align: center;
}

.profilePicture{
	display: block;
	margin: auto;
	height: 150px;
	width: 150px;
	position: absolute;
	bottom: 15%;
    left: 5%;
	border: 1px solid rgba(0, 0, 0, .32);
	padding: 4px;
	background: white;
	border-radius: 10%;
}

.profiletable td {
	width: 10%;
	height: 34px;
}

.profiletable tr{
		box-sizing: border-box;
	border-bottom: 1px solid rgba(97, 96, 96, 0.05);
}

.profiletable input{
	border: none;
	width: 100%;
}

.profileBanner{
	font-size: 15px;
	width: 92.5%;
	margin: 2% auto;
	background: white;
	height: auto;
	border:1px solid #c3c3c3;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
	position: relative; left: 0; top: 0;
}
.profileBannerImage{
	width: 100%;
	height: 250px;
    min-width:100%;
    object-fit: cover;
    min-height:100%;
	position: relative; top: 0; left: 0;
}

.profileBannerText{
	position: absolute;
	font-size: 32px;
	bottom: 35%;
	font-weight: bold;
    left: 25%;
	color: white;
	  text-shadow:
   -1px -1px 0 	rgba(0, 0, 0, .15),  
    1px -1px 0 	rgba(0, 0, 0, .15),
    -1px 1px 0 	rgba(0, 0, 0, .15),
     1px 1px 0 	rgba(0, 0, 0, .15);
}