<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheet/landing.css">
	<script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
	<script src="../javascript/js.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	<title>LemonCloud ~ Share your best lemon pictures!</title>
</head>
<body>

<div class="overlay">
	<div class="content">
		<h1><span class="yellow">Lemon</span>Cloud</h1>
		<div class="center">
	 		<h3>Lemon with your friends!</h3>
	 		<h2>Join Now!</h2>
	 		<button class="button"><a href="javascript:void(0)">Get Started!</a></button>
 		</div>
 	</div>
</div>

</body>
</html>