<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../stylesheet/cms.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
<script src="../javascript/cms.js"></script>
</head>
<body>

<div class="page">
        <div class="mainContent">
        </div>
        <div class="sidebar1">
      <div class="sidebar1">
        <ul class = "menu"><i class="fa fa-users" aria-hidden="true"></i>Users</ul>
        <li class = "submenu">View users</li>   
         <li class = "submenu">Add User<i class="fa fa-user-plus" aria-hidden="true"></i></li>           
         <ul class = "menu">ClickMe</ul>
         <li class = "submenu">test</li>   
         <li class = "submenu">test</li>        
         <li class = "submenu">test</li>   
        <ul class = "menu">ClickMe</ul>
        <li class = "submenu">test</li>   
         <li class = "submenu">test</li>        
         <li class = "submenu">test</li>             
        </div>          
        </div>        
        </div>
        
</div>

</body>

</html>