<!DOCTYPE html>
<html>
<head>
	<title>SocialMedia website!</title>
	<script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
	<script src="../javascript/js.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<!-- 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
</head>
<body>
	<nav></nav>
	<div id="container">
		<div class="leftMenu"></div>
		<div class="content">
			<div class="contentBox">
			ad</div>
			<div class="contentBox"/></div>													
			<div class="contentBox">
